// Tamanhos de tela
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;

// Cores
$primary: #0277bd;
$primary-border: #01579b;
$white: #fff;

// Comprimentos
$sm: 0.25rem;
$md: 0.5rem;
$lg: 0.75rem;

$p-sm: $sm;
$p-md: $md;
$p-lg: $lg;
