@import "variables";

.App {
  margin: 0;
  padding: 0;
  font-size: 16px;
  flex-direction: column;

  header {
    display: flex;
    justify-content: center;
  }
}

.App,
.checkbox,
.form-inline,
.form-group {
  display: flex;
  flex-wrap: wrap;
}

.form-inline {
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
}

@media (min-width: $tablet) {
  .form-inline {
    flex-direction: row;
  }

  .form-control {
    min-width: 12rem;
  }
}

.form-group {
  justify-content: center;
}

.form-control {
  padding: $md $sm;
  margin: $sm $md;
  border-radius: $sm;

  flex-basis: 100%;
}

.button {
  padding: $md $lg;
  margin: $sm;
  border-radius: $sm;
  opacity: 0.8;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  display: block;
  color: $white;
  font-weight: 400;
  border: 1px solid $primary-border;
  -webkit-box-shadow: 0 0.7px 0.5px 0.7px rgba($primary, 0.8);
  -moz-box-shadow: 0 0.7px 0.5px 0.7px rgba($primary, 0.8);
  box-shadow: 0 0.7px 0.5px 0.7px rgba($primary, 0.8);
  flex-basis: 95%;
}

.button--primary {
  background-color: $primary;
}
table {
  border-collapse: collapse;
}

table td,
table th {
  padding: $md;
  margin: $sm;
  border: $sm solid $white;
  table-layout: fixed;
  padding: $md;
}

table th {
  background-color: #bdbdbd;
}

table tbody td:last-child {
  color: $red;
  padding: 0;
}

table tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0;

  & .fa-edit {
    color: $primary;
  }

  & .fa-trash-alt {
    color: $red;
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin: -$lg auto $lg 1rem;
  cursor: pointer;
  font-size: 1.35rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(0.8);
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border: 0.1rem solid $primary;
  border-radius: $sm;
}

.checkbox:hover input ~ .check {
  background-color: #ccc;
}

.checkbox input:checked ~ .check {
  background-color: $primary;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .check:after {
  display: block;
}

.checkbox .check:after {
  left: $md;
  top: $sm;
  width: $sm;
  height: $md;
  border: solid $white;
  border-width: 0 0.15rem 0.15rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.App--sem-atividades {
  width: 95vw;
  height: 20rem;
  border: 1px solid;
  align-self: center;
  -webkit-box-shadow: 1x 2px 1px 1px rgba($primary, 0.8);
  -moz-box-shadow: 1px 2px 1px 1px rgba($primary, 0.8);
  box-shadow: 1px 2px 1px 1px rgba($primary, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px rgba($primary, 0.8);
  text-align: center;
}


table tbody tr.completed {
  opacity: 0.7;

  td:nth-child(-n + 3) {
    text-decoration: line-through;
  }
}

hr {
  display: none;
}

hr.completed {
  display: block;
  border: 1px solid;
  width: 60vw;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  margin-top: -$lg;
}